[project]
	description = Collection of useful tools to interact with openbmc
[access]
	inheritFrom = openbmc-all-repos
[access "refs/*"]
	owner = group user/Andrew Jeffery (amboar)
[access "refs/for/refs/*"]
	read = group user/Andrew Jeffery (amboar)
	push = group user/Andrew Jeffery (amboar)
	label-Code-Review = -2..+2 group user/Andrew Jeffery (amboar)
	label-Verified = -1..+1 group user/Andrew Jeffery (amboar)
	rebase = group user/Andrew Jeffery (amboar)
	removeReviewer = group user/Andrew Jeffery (amboar)
	submit = group user/Andrew Jeffery (amboar)
[access "refs/heads/*"]
	read = group user/Andrew Jeffery (amboar)
	create = group user/Andrew Jeffery (amboar)
	push = +force group user/Andrew Jeffery (amboar)
	pushMerge = group user/Andrew Jeffery (amboar)
[access "refs/tags/*"]
	push = +force group user/Andrew Jeffery (amboar)
	createTag = group user/Andrew Jeffery (amboar)
	createSignedTag = group user/Andrew Jeffery (amboar)
[submit]
	action = rebase if necessary
